@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #6D597A 0%, #E56B6F 100%); 
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 600px;
    margin: auto;
}
.btn {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
    cursor: pointer;
}
.front-btn {
 margin-top: 45vh;
}
#btn {
    background-color: #f8edeb;
    color: #6D597A;
    width: 350px;
    height: 100px;
    font-size: 2rem;
}
.btn-popup {
    width: 250px;
    height: 50px;
    font-size: 1.3rem;
    background-color: #6D597A;
    color: #f8edeb;
}

#btn:hover {
    color: #B56576;
    background-color: #faf9f9;
}
.btn-popup:hover {
    background-color: #355070;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 5px;
    z-index: 10;
    width: 600px;
    max-width: 80%;
    background-color: #f8edeb;
    color: #355070;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
    padding: 2rem;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
  }

#quote {
    font-style: italic;
    font-size: 1.3rem;
    margin: 2rem;
}

.author {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.popup-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;

  }

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
  }

#overlay.active {
opacity: 1;
pointer-events: all;
}